Watermark.v11.suo
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/